#settingsPage {
    position: fixed;
    font-size: 16pt;
    height: 100%;
    overflow: hidden;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #444444;
}

#backgroundImage {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:-1;
    background-repeat: repeat;
    background-size: 100% 100%;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-callout: none;
    -webkit-touch-callout: none;
}

#menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    padding-top: 80px;
    /*paddin-left: 20px;*/
    /*padding-right: 20px;*/
    /*padding-bottom: 400px;*/
}

#innerMenu {
    position: relative;
    height: 100%;
}

#settingsPanel {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

#settingsHeader {
    border-radius: 6px 6px 0 0;
    background-color: rgba(100, 100, 100, .6);
    color: white;
    padding: 5px;
    padding-left: 5%;
    font-size: 12pt;
    font-weight: bold;
}

#settingsBody {
    border-radius: 0 0 6px 6px;
    background-color: rgba(30, 30, 30, .4);
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

.panelHeader {
    border-radius: 6px 6px 0 0;
    background-color: rgba(100, 100, 100, .6);
    color: white;
    padding: 5px;
    padding-left: 5%;
    font-size: 12pt;
    font-weight: bold;
}

.panelBody {
    border-radius: 0 0 6px 6px;
    background-color: rgba(30, 30, 30, .4);
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    height: 50px;
}

.settingEditBox {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;

}

#goalAmountBox {
    margin-top: 20px;
}

.settingsLink {
    display: block;
    color: #F2F4F5;
    text-decoration: none;
    padding: 10px;
}

#backButtonPanel {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
}

#backButton {
    color: rgba(255,255,255,.6);
    text-decoration: none;
}

#logOutPanel {
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgba(30, 30, 30, .4);
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
}

#logOutButton {
    text-decoration: none;
    color: white;
}

#settingsBody div
{
    border-top: 1px solid #F2F4F5;
}
#settingsBody > div:first-of-type {
    border-top: 0;
}

.textInput {
    outline: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
    font-size: 14pt;
    color: white;
    margin-top:13px;
    width: 160px;
}

.textInputButton {
    text-decoration: none;
    color: rgba(207,207,207, .6);
    position: absolute;
    right: 10px;
    margin-top:10px;
}

.notificationType {
    display: inline-block;
    padding-top: 10px;
}

.notificationToggle {
    display: block;
    float: right;
    top: 10px;
}

#feedbackPanel {
    height: 230px;
}

#feedbackTextArea {
    width: 250px;
}

.submitButton {
    border: none;
    display: inline-block;
    float: right;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 6px;
    background-color: rgba(122, 193, 67, 80);
    color: white;
    text-decoration: none;
    font-size: 12pt;
}

#feedbackSubmitButton {
    position: absolute;
    right: 6px;
    bottom: 6px;
}

#transactionPanel {
    height: 280px;
    overflow-y: scroll;
}

.transactionAmount {
    font-size: 16pt;
    font-weight: bold;
}

.transactionDate {
    font-size: 10pt;
}

.undoButton {
    text-decoration: none;
    color: rgba(207,207,207, .6);
    position: relative;
    float:right;
    margin-top: 4px;
    font-size: 14px;
}

#transactionPanel div
{
    border-top: 1px solid #F2F4F5;
}
#transactionPanel > div:first-of-type {
    border-top: 0;
}

.transactionLineItem {
    padding-top: 4px;
    padding-bottom: 4px;
}

.right {
    left: 200%;
}

.left {
    left: -100%;
}

.center {
    left: 0;
}

.animateToTheRight {
    left: 200%;
    -webkit-animation: animateCenterToRight 0.5s;
    animation: animateCenterToRight 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.animateRightToCenter {
    left: 0;
    -webkit-animation: animateRightToCenter 0.5s;
    animation: animateRightToCenter 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.animateLeftToCenter {
    left: 0;
    -webkit-animation: animateLeftToCenter 0.5s;
    animation: animateLeftToCenter 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.animateToTheLeft {
    left: -100%;
    -webkit-animation: animateCenterToLeft 0.5s;
    animation: animateCenterToLeft 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.settingScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 80px;
}

.centeredSetting {
    left: 0;
    -webkit-animation: animateRightToCenter 0.5s;
    animation: animateRightToCenter 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

/*Chrome, Safari, Opera*/
@-webkit-keyframes animateRightToCenter {
    from {left: 100%;}
    to {left: 0;}
}

/*Standard syntax*/
@keyframes animateRightToCenter {
    from {left: 100%;}
    to {left: 0;}
}

/*Chrome, Safari, Opera*/
@-webkit-keyframes animateCenterToLeft {
    from {left: 0;}
    to {left: -100%}
}

/*Standard syntax*/
@keyframes animateCenterToLeft {
    from {left: 0;}
    to {left: -100%}
}

/*Chrome, Safari, Opera*/
@-webkit-keyframes animateCenterToRight {
    from {left: 0;}
    to {left: 100%}
}

/*Standard syntax*/
@keyframes animateCenterToRight {
    from {left: 0;}
    to {left: 100%}
}

/*Chrome, Safari, Opera*/
@-webkit-keyframes animateLeftToCenter {
    from {left: -100%;}
    to {left: 0}
}

/*Standard syntax*/
@keyframes animateLeftToCenter {
    from {left: -100%;}
    to {left: 0}
}
