<div>
<div class="ftu-background"></div>

	<div class="ftu-message" id="message1"> {{message1}} </div>
	<div class="ftu-message" id="message2"> {{message2}} </div>

<!-- 	<div class="UIPageControl">
		<div class="UIScrollView" id="parentView">

			 <div class="valueProp {{ pageNum }}">
				<div class="img-wrap">
            		<img class="ftu-img" ng-src=" {{currentProp.image}} " />
          		</div>
				<h3 class="valuePropTitle"> {{currentProp.title}}</h3>
				<p class= "valuePropDescription"> {{currentProp.description}} </p> 
			</div> 

		</div>

		<nav>
			<a>•</a>
			<a>•</a>
		</nav>
		<div class="nav-button-div">
		<button ng-click="back()" class="greenButton" ng-show="pageNum === 'two'"> Back </button>
		</div>
		<div class="nav-button-div">
		<button ng-click="next()" class="greenButton" ng-show="pageNum === 'one'"> Next </button>
		</div>
	</div> -->
		<div class="get-started-div" >
		<button ng-click="setGoal()" class="greenButton" id="goal-button" > Set a goal! </button>
		</div>
		<div class="login"> <a analytics-on analytics-event="linkTap" analytics-category="nav_button" analytics-label="ftu_skipGoals" href="/signup" class="text-center new-account">Skip</a></div>

</div> 