
<div class="ftu-background"></div><div class="row">

    <form class="form loginForm" name="form" ng-submit="loginUser(form)" novalidate>

      <div class="form-group loginField">
        <input type="email" autocorrect="off" autocapitalize="off" name="email" class="textInput form-control" placeholder="My email address" ng-model="user.email" required>
      </div>

      <div class="form-group loginField">
        <input type="password" name="password" class="textInput form-control" ng-model="user.password" placeholder="My password" required>
      </div>

      <div class="form-group has-error">
        <p class="help-block redirect" ng-show="form.email.$error.required && form.password.$error.required && submitted">
           Please enter your email and password.
        </p>              
        <p class="help-block">{{ errors.other }}</p>
      </div>

      <div class="goal-button-div" >
        <button type="submit" class="greenButton btn btn-lg btn-primary"> Log In </button>
      </div>
    </form>
  </div>

    <div class="redirect"> Not registered? <a href="/setgoal" class="text-center new-account">Create an account.</a></div>

