<div>
<div class="ftu-background"></div>
  
	<form name="amountForm" action="" ng-submit="enterAmount()">
    <div class="panelHeader">GOAL AMOUNT</div>
	<div class="panelBody">
        <span class="dollarSignLabel">$ </span>
        <input type="text" min="0.01" step="0.01" id="goalAmountInput" name="amount" class="textInput goalInput" ng-model="goalAmount" placeholder="This will cost..." required currency>
	    <input type="submit" class="submitButton goalSubmitButton" value="{{(goalAmount) ? 'Save' : 'Skip'}}" />
    </div>
	</form>
    <div class="error" ng-show="amountForm.amount.$error.currency">Are you sure that's a number?</div>
</div>