
<div>
<div class="ftu-background"></div>
  
	<form name="goalForm" action="" ng-submit="enterGoal()">
    <div class="panelHeader">MY GOAL</div>
	<div class="panelBody">
        <input type="text" name="goal" id="goalNameInput" class="textInput goalInput" ng-model="userGoal" placeholder="I want to..."  />
	    <a href='#' class="submitButton goalSubmitButton" ng-click="goalLinkClicked($event)">{{(userGoal) ? 'Next' : 'Skip'}}</a>
        <input type="submit" style="display:none; width: 1px; height: 1px;"/>
    </div>
	</form>
    <div class="error" ng-show="goalForm.goal.$error.goal">Goal names can only contain letters and numbers</div>

    <div id="suggestedGoalsContainer">
        <div class="panelHeader">SUGGESTIONS</div>
        <div id="suggestedGoalsPanelBody" class="panelBody">
            <div class="suggestedGoal" ng-repeat="suggestedGoal in suggestedGoals">
                <a class="suggestedGoalLink" href="#" ng-click="selectSuggestedGoal($event, suggestedGoal);">{{suggestedGoal}}</a></div>
        </div>
    </div>
</div>