<div id="settingsPage">
    <div id="backgroundImage" class="blur"></div>
    <div id="backButtonPanel">
        <a href="#" id="backButton">Back</a>
    </div>
    <div id="settingsPanel" ng-show="settingsPanel">
        <div id="settingsHeader">SETTINGS</div>
        <div id="settingsBody">
            <div ng-repeat="link in settingsLinks">
            <a href="{{link.url}}" class="settingsLink" id="{{link.id}}">{{link.name}}</a>
            </div>

        </div>
    </div>
    <div id="logOutPanel">
        <a href="#" id="logOutButton">Log Out</a>
    </div>
</div>