<div ng-show="modal.visible" id="iosModalWindow">
    <div id="iosModalHeader">{{modal.header}}</div>
    <div id="iosModalBody">{{modal.body}}</div>
    <div id="iosModalButtonPanel">

        <a href="#" class="iosModalButton" ng-click="modalOKPressed($event, modal.name, modal.data)">{{modal.buttonText}}</a>
        <a href='#' ng-show="modal.cancelOption" id="iosModalCancelButton" class="iosModalButton" ng-click="modalCancelPressed($event, modal.name, modal.data)">{{modal.cancelText}}</a>


    </div>
</div>

<div id="settingsPage">
    <div id="backgroundImage" class="blur"></div>
    <div id="backButtonPanel">
        <a href="#" ng-click="goBackToMainSettingsPage($event)" id="backButton">Back</a>
    </div>
    <div id="menu" ng-class="{'animateLeftToCenter' : (screens.menu.displayed && !screens.menu.initialState), 'animateToTheLeft' : (!screens.menu.displayed && !screens.menu.initialState), 'center' : (screens.menu.initialState)}">
        <div id="innerMenu">
            <div id="settingsPanel">
                <div id="settingsHeader">SETTINGS</div>
                <div id="settingsBody">
                    <div ng-repeat="link in settingsLinks">
                    <a href="{{link.url}}" ng-click="selectLink($event, link.id)" class="settingsLink" id="{{link.id}}">{{link.name}}</a>
                    </div>

                </div>
            </div>
            <div id="logOutPanel">
                <a href="#" ng-click="logout($event)" id="logOutButton">Log Out</a>
            </div>
        </div>
    </div>

    <div id="editGoalScreen" class="settingScreen" ng-class="{'animateRightToCenter' : screens.myGoal.displayed, 'animateToTheRight' : (!screens.myGoal.displayed && !screens.myGoal.initialState), 'right' : (screens.myGoal.initialState)}">
        <form name="editGoalForm" ng-submit="goalFormSubmitted()" novalidate>
            <div id="goalNameBox" class="settingEditBox">
                <div class="panelHeader">MY GOAL</div>
                <div class="panelBody">
                    <input name="goalName" id="settingsGoalNameInput" class="textInput" type="text" ng-model="userGoal.name" placeholder="I want to..." goal/>
                    <a class="textInputButton" href="#" ng-click="goalNameButtonClicked($event)">{{(userGoal.name == originalUserGoal.name) ? "Edit" : "Save"}}</a>
                </div>
                <div class="error" ng-show="editGoalForm.goalName.$error.goal">Goal names can only contain letters and numbers</div>
            </div>
            <div id="goalAmountBox" class="settingEditBox">
                <div class="panelHeader">AMOUNT</div>
                <div class="panelBody">
                    <span class="dollarSignLabel">$ </span><input name="goalAmount" id="settingsGoalAmountInput" class="textInput" ng-model="userGoal.targetAmount" type="text" pattern="[0-9]*" placeholder="0" currency/>
                    <a class="textInputButton" href="#" ng-click="goalAmountButtonClicked($event)">{{(userGoal.targetAmount == originalUserGoal.targetAmount) ? "Edit" : "Save"}}</a>
                </div>
                <div class="error" ng-show="editGoalForm.goalAmount.$error.currency">Are you sure that's a number?</div>
            </div>
            <input type="submit" style="display:none; width: 1px; height: 1px;"/>

        </form>
    </div>

    <div id="notificationScreen" class="settingScreen" ng-class="{'animateRightToCenter' : screens.notification.displayed, 'animateToTheRight' : (!screens.notification.displayed && !screens.notification.initialState), 'right' : (screens.notification.initialState)}">
        <div id="notificationSettingBox" class="settingEditBox">
            <div class="panelHeader">NOTIFICATION</div>
            <div class="panelBody">
                <div class="notificationType">Email</div>
                <input ng-change="emailToggled()" ng-model="emailNotification" class="notificationToggle" type="checkbox" checked>
            </div>
        </div>

    </div>

    <div id="feedbackScreen" class="settingScreen" ng-class="{'animateRightToCenter' : screens.feedback.displayed, 'animateToTheRight' : (!screens.feedback.displayed && !screens.feedback.initialState), 'right' : (screens.feedback.initialState)}">
        <div id="feedbackBox" class="settingEditBox">
            <div class="panelHeader">FEEDBACK</div>
            <div id="feedbackPanel" class="panelBody">
                <form name="feedbackForm" ng-submit="submitFeedback()" novalidate>
                    <textarea id="feedbackTextArea" class="textInput" ng-model="feedback" rows="7" cols="80" placeholder="I'd love if you'd..."></textarea>
                    <input type="submit" class="submitButton" id="feedbackSubmitButton" value="Submit" />
                </form>
            </div>
        </div>

    </div>

    <div id="transactionScreen" class="settingScreen" ng-class="{'animateRightToCenter' : screens.transaction.displayed, 'animateToTheRight' : (!screens.transaction.displayed && !screens.transaction.initialState), 'right' : (screens.transaction.initialState)}">
        <div class="settingEditBox">
            <div class="panelHeader">TRANSACTIONS</div>
            <div id="transactionPanel" class="panelBody">
                <div class="transactionLineItem" ng-repeat="transaction in transactions">
                    <span class="transactionAmount">{{transaction.savingsAmount}}</span>
                    <span class="transactionDate">{{transaction.date}}</span>
                    <a class="undoButton" href="#" ng-click="undoTransactionPressed($event, transaction._id)">Undo</a>
                </div>

            </div>
        </div>

    </div>

</div>