
<div id="saving-container" hm-hold="unblur()" hm-release="reblur()">
	<a id="shield"></a>
	<div id="ftu-screen" class="blur"> </div>

	<div id="welcome-screen-message" > {{message}} </div>
	<div ng-show="firstScreen"><img id="logo" src="../images/FTU/Keep_Alone.png"></div>
	<p id="catch-phrase" ng-show="firstScreen"> Keep is a way to save for your goals by recording good spending decisions</p>

	<!--<div ng-show="firstScreen"> <img id="hand" src="../images/FTU/Hand_Dark.png"> </div>-->
	<p id="use-mobile" class="desktopOnly"  ng-show="firstScreen">Please visit Keep on a mobile device </p>
	<div class="welcome-screen-message" ng-show="showTotal"> {{totalMessage}} </div>
	<div class= "welcome-showMe" ng-show="showMe">
		<div class="welcome-showMe-text">
			<div class="welcome-howMe-tap">Tap and Hold</div>
			<div class="welcome-showMe-message" ng-bind-html="fingerMessage"></div>
		</div>
		<div class="welcome-showMe-fingerprint"></div>
	</div>
	<div ng-show="onblur &&!showMe"> <div class="welcome-hold-fingerprint absoluteCenter"></div> <div class="welcome-hold-text">{{holdMessage}}</div> </div>
	<div class="continue-div mobileOnly" >
	<button ng-show="showTotal" class="mobileOnly greenButton" ng-click="continue()">Continue</button>
	</div>
	<div class="get-started-div mobileOnly" >
	<button ng-show="firstScreen" class="mobileOnly greenButton" ng-click="getStarted()">See how</button>
	</div>

	<div id="release-message" class="opacity-none "> {{releaseMessage}} </div>
	<canvas id="progressIndicator" ng-show="holding" width="240" height="240"></canvas>
	<div ng-show="firstScreen" class="login"> <a href="/login" class="text-center new-account">Already have an account?</a></div>
	<div class="welcome-screen-message-footer" ng-show="showTotal" ng-bind-html="messageFooter"></div>
	
	 <!-- To Do: Figure out why this messes up the image in iOS simulato --> 
</div>



<!-- 
<div ng-controller="WelcomeCtrl as welcome" id="welcome-screen">
	<div class="ftu-background"></div>
	<div id="logo"> MOMENT </div> 
	<p id="catch-phrase"> A daily reminder to help you spend on what matters and skip the rest </p>
	<button class="greenButton" ng-click="getStarted()" id="get-started"> Get Started ></button>
	<button class="greenButton" ng-click="login()" id="login"> Login </button>
</div> -->



